@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&display=swap');

:root {
	font-family: 'DM Sans', sans-serif;
	color: #153d40;
	background: #edf2f1;
}

body {
	min-width: 320px;
	margin: 0;
}
